extends layout

block content
    .container
        if (!user)
            .jumbotron
                h1 Meet new location watcher
                p.lead Innovative and motivative text is placed here!
                p
                    a.btn.btn-lg.btn-primary(href="/login") Login
                    | &nbsp;or&nbsp;
                    a.btn.btn-lg.btn-success(href="/register") Register
        if (user)
            script.
                var socket = io.connect('http://localhost:3000');
                socket.on('news', function (data) {
                    console.log(data);
                    //socket.emit('my other event', { my: 'data' });
                    });

                socket.on('location', function (data) {
                    //console.log(data);
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(null);
                    }
                    for (var i = 0; i < circles.length; i++) {
                        circles[i].setMap(null);
                    }
                    var oldCount = markers.length;
                    markers = [];
                    circles = [];
                    var markerBounds = new google.maps.LatLngBounds();
                    for (var key in data) {
                        var point = new google.maps.LatLng(data[key].lat, data[key].lng);
                        var marker = new google.maps.Marker({
                            map: map,
                            title: data[key].carId,
                            position: point
                        });
                        var circle = new google.maps.Circle({
                            center: point,
                            radius: data[key].acc,
                            map: map
                        });
                        markers.push(marker);
                        circles.push(circle);
                        markerBounds.extend(point);
                    }
                    if (oldCount != markers.length) {
                        map.fitBounds(markerBounds);
                    }
                    //socket.emit('my other event', { my: 'data' });
                });

            #map_canvas
            script.
                function initialize() {
                    var mapOptions = {
                        center: new google.maps.LatLng(-34.397, 150.644),
                        zoom: 1,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(
                            document.getElementById("map_canvas"),
                            mapOptions
                    )
                    markers = [];
                    circles = [];
                }


                initialize()

